:root{
    --wide_padding: 0 15em;
}
body {
    background-color: #fafafa;
    color: #222222;
    line-height: 1.8em;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 17px;
    letter-spacing: 1px;
    max-width: 800px;
    margin: 0 auto;
}
p{
    margin: 0 0 1em 0;
}
body > header {
    background: black;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
}
body > header h1 a,
body > header a {
    color: white;
}
header {
    text-align: center;
}
header h1 {
    line-height: 1.2em;
    color: #343d4e;
}
header h1 a {
    color: #343d4e;
}
@media only screen and (max-width : 414px){
    header h1 {
        font-size: 1em;
    }
}

article{
    border-bottom: #c6c4c4 solid 1px;
    padding-bottom: .5em;
}
article header h2{
    text-align: left;
}
a {
    color: #222222;
}
a:focus, a:hover{
    color: #00baff;
}

h1 {
    line-height: 1em;
}
h2 {
  font-size: 1.7em;
  line-height: 1.3em;
  margin: 1em 0 0 0;
}
h3{
    font-size: 1em;
}
h4{
    font-size: .7em;
}
#logo{
    width: 50px;
    height: 50px;
    background: black url("../imgs/logo-2x.svg") top left;
    background-size: 100%;
    margin: 0;
}
.full-width {
    width: 100%;
}
blockquote {
    border-left: 10px solid #ccc;
    margin: 1.5em 3em;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}
code {
    background-color: #4d4d4d;
    border-radius: 3px;
    font-size: 85%;
    line-height: 1.45;
    overflow: auto;
    padding: 16px;
    margin-bottom: 0;
    word-break: normal;
    display: block;
    color: white;
}
#repo-link{
    background: url("../imgs/gitlab-icon-rgb.svg") top left no-repeat;
    text-indent: 45px;
    display: inline-block;
}
footer {
    text-align: center;
    padding: 25px auto;
    line-height: 1em;
    margin-top: 3em;
    margin-bottom: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    justify-content: center;
  }
footer small {
    display: block;
    width: 50%;
}
footer img {
    border-radius: 100%;
    width: 75px;
}
small {
    font-size: .7em;
}
time {
    text-align: left;
    display: block;
    font-style: italic;
}
img.emoji {
    height: 1em;
}
.messages {
    background-color: rgb(30,30,30);
    border-radius: .7em;
}
.message {
    background-color: rgb(30,30,30);
    border-radius: .7em;
    display: flex;
    font-size: .7em;
    color: white;
    padding: 1em;
    margin-bottom: 2em;
}
.message a {
    color: white;
}
.message a:hover{
    color: white;
}
.message h1{
    font-size: 1em;
    font-weight: normall;
    padding: 0;
    margin: 0 0 1em 0;
    line-height: 1em;
}
.message p{
    margin: 0;
    padding: 0;
    line-height: 2em;
}
.message ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.message ol > li {
    margin-bottom: 1em;
    line-height: 1.5em;
}
.message ol li ol{
    list-style-type: decimal;
    margin-left: 1.5em;
}
.message aside {
    flex: 1;
    min-width: 90px;
    max-width: 90px;
}
.message aside img{
    width: 80px;
}
.message>div {
    flex: 8;
}
.tags span {
    display: inline-block;
    padding: .2em .5em .3em;
    font-weight: 600;
    margin: .25em .1em
}