{{#> layouts/index.html}}
<style>
  p{
    max-inline-size: none;
  }
  body>main{
    padding-bottom: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  body>header{
    padding: 1rem;
    background-color: var(--surface-2);
    z-index: var(--layer-1);
    left: 0;
    right: 0;
    top: 0;
  }

  body>main>section{
    margin-left: 1rem;
    margin-right: 1rem;
  }

  body>footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--surface-1);
    border-top: solid 1px var(--surface-3);
  }
  body>footer>nav{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  body>footer>nav>a{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
    font-size: .9rem;
    flex: auto;
  }
  body>footer>nav>a>svg{
    inline-size: var(--size-5);
  }

  body>header>form{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  body>header>form>textarea{
    flex: 1;
    padding: 1rem;
    border: solid 1px var(--surface-3);
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-2);
  }
  body>header>form>button{
    margin-left: 1rem;
    border: solid 1px var(--surface-3);
    border-radius: var(--radius-6);
  }
  body>main>section>article{
    padding: 1rem 1rem 1rem 4rem;
    border-top: solid 1px var(--surface-3);
    position: relative;
  }
  body>main>section>article>header{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  body>main>section>article>header>figure>img{
    position: absolute;
    top: 1rem;
    left: 0;
  }
  body>main>section>article>header>figure{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
  }
  body>main>section>article>header>figure{
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-7);
  }
  time{
    color: var(--surface-4);
    font-weight: var(--font-weight-3);
  }
  
  figure img{
    border-radius: var(--radius-6);
    box-shadow: var(--shadow-2);
    width: 3rem;
    height: 3rem;
  }

  .preview .content{
    background: var(--surface-3);
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-2);
    padding: 1rem;
  }

  .fixed {
    position: fixed;
  }

</style>
<header id="entry">
  <form>
    <textarea name="message" rows="1" autocomplete="on" autocorrect="on" autofocus="true" spellcheck="true"></textarea>
    <button type="submit">Send</button>
  </form>
</header>
<main role="main">
  <section id="feed" role="feed">
    <article id="preview" class="preview" style="display: none;">
      <header>
        <figure class="avatar">
          <img title="My Avatar" />
          <figcaption></figcaption>
          <time datetime=""></time>
        </figure>
      </header>
      <section class="content">
        <div class="text"></div>
      </section>
    </article>
    <article class="post" style="display: none;">
      <header>
        <figure class="avatar">
          <img title="My Avatar" />
          <figcaption></figcaption>
          <time datetime=""></time>
        </figure>
      </header>
      <section class="content">
        <div class="text"></div>
      </section>
    </article>
  </section>
</main>
<footer>
  <nav>
    <a href="/" title="Home">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
      </svg>
      <span>Home</span>  
    </a>
    <a href="/search" title="Search">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 15.75l-2.489-2.489m0 0a3.375 3.375 0 10-4.773-4.773 3.375 3.375 0 004.774 4.774zM21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <span>Find</span>      
    </a>
    <a href="/notifications" title="Notifications">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
      </svg>      
      <span>Notifications</span>
    </a>
    <a href="/inbox" title="Inbox">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 3.75H6.912a2.25 2.25 0 00-2.15 1.588L2.35 13.177a2.25 2.25 0 00-.1.661V18a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18v-4.162c0-.224-.034-.447-.1-.661L19.24 5.338a2.25 2.25 0 00-2.15-1.588H15M2.25 13.5h3.86a2.25 2.25 0 012.012 1.244l.256.512a2.25 2.25 0 002.013 1.244h3.218a2.25 2.25 0 002.013-1.244l.256-.512a2.25 2.25 0 012.013-1.244h3.859M12 3v8.25m0 0l-3-3m3 3l3-3" />
      </svg>
      <span>Inbox</span>      
    </a>
    <a href="/profile" title="Profile">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
      </svg>
      <span>Profile</span>      
    </a>
    <a href="/topics" title="Topics">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 12a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375M21 12c0 4.556-4.03 8.25-9 8.25a9.764 9.764 0 01-2.555-.337A5.972 5.972 0 015.41 20.97a5.969 5.969 0 01-.474-.065 4.48 4.48 0 00.978-2.025c.09-.457-.133-.901-.467-1.226C3.93 16.178 3 14.189 3 12c0-4.556 4.03-8.25 9-8.25s9 3.694 9 8.25z" />
      </svg>
      <span>Topics</span>      
    </a>
    <a href="/lists" title="Lists">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zM3.75 12h.007v.008H3.75V12zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm-.375 5.25h.007v.008H3.75v-.008zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
      </svg>
      <span>Lists</span>      
    </a>
    <a href="/bookmarks" title="Bookmarks">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0z" />
      </svg>
      <span>Bookmarks</span>      
    </a>
  </nav>  
</footer>
{{/layouts/index.html}}