<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <base href="./"/>
    <!--<meta http-equiv="Content-Security-Policy" content="default-src https:"/>-->
    <title>Local First Twitter Clone (LFTC)</title>
    <meta name="author" content="Joey Guerra"/>
    <meta name="description" content="It's a local first twitter clone"/>
    <meta property="og:title" content="Local First Twitter Clone (LFTC)"/>
    <meta property="og:description" content="A local first Twitter clone."/>
    <meta property="og:image" content="/imgs/joey-g-boss-pic.jpg"/>
    <meta property="og:site_name" content="Local First Twitter Clone (LFTC)"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta name="apple-mobile-web-app-title" content="Joey Guerra"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <style>
      @import "https://unpkg.com/open-props";
      @import "https://unpkg.com/open-props/normalize.min.css";
      @import "https://unpkg.com/open-props/buttons.min.css";
    </style>
    <link rel="canonical" href="https://example.com/{{meta.uri}}"/>
  </head>
  <body>
  {{> @partial-block}}
  </body>
  <script type="text/javascript" src="/public/markdown/markdown-it.min.js"></script>
  <script type="module">
    import App from '/webapp/App.mjs'
    import { ObservableArray, makeKeyValueObservable } from '/lib/Observable.mjs'
    import Message from '/webapp/Message.mjs'
    import {HybridLogicalClock} from '/lib/HybridLogicalClock.mjs'

    class Member {
      constructor (obj) {
        this.id = obj?.id
        this.displayName = obj?.displayName
        this.avatar = obj?.avatar
      }
    }

    class Following extends Member {
      constructor (obj) {
        super(obj)
      }
    }

    class DbConnection {
      #db
      #queue = new Set()
      #interval = null
      constructor(request){
        ['error', 'success', 'upgradeneeded', 'blocked'].forEach(event => {
          request.addEventListener(event, e => this[event](e))
        })
        this.isConnected = false
      }
      get db(){
        return this.#db
      }
      #useDatabase(database){
        this.#db = database
        this.#db.addEventListener('versionchange', e => {
          this.#db.close()
          console.error('Database versionchange', e)
        })
        this.#db.addEventListener('versionerror', e => {
          console.error('Database versionerror', e)
        })
      }
      close(){
        this.#db?.close()
        this.isConnected = false
      }
      error(e){
        console.error('Error opening database', e)
      }
      success(e){
        this.#useDatabase(e.target.result)
        console.log('success', this.#db)
        this.isConnected = true
      }
      upgradeneeded(e){
        this.isConnected = false
        this.#useDatabase(e.target.result)
        if(!this.#db.objectStoreNames.contains(STORES.messages)){
          const store = this.#db.createObjectStore(STORES.messages, {keyPath: 'id', autoIncrement: true})
          store.createIndex('occurred', 'occurred', {unique: false})
          store.createIndex('from', 'from', {unique: false})
        }
        console.log('upgrade', this.#db)
        this.isConnected = true
      }
      blocked(e){
        console.error('Database blocked', e)
        this.close()
        this.isConnected = false
      }
    }

    const DB_NAME = 'ltfc'
    const DB_VERSION = 2
    const STORES = {
      messages: 'messages',
      member: 'member',
      following: 'following'
    }
    let isLoaded = false
    window.member = new Member({
      id: 1,
      avatar: '/images/me.jpg',
      displayName: 'JOey Guerra'
    })

    const conn = new DbConnection(window.indexedDB.open(DB_NAME, DB_VERSION))

    const peers = []
    const model = {
      self: null,
      messages: new ObservableArray(),
      message: makeKeyValueObservable(new Message('', window.member, 1)),
    }
    const io = options => {
        const subscribers = {}
        return {
          emit(event, message){
            if(!subscribers[event]) return
            subscribers[event].forEach(s => s(message))
          },
          on(event, callback){
            if(!subscribers[event]) subscribers[event] = []
            subscribers[event].push(callback)
        }
      }
    }

    const socket = io({
      reconnectionAttempts: 5
    })

    const onLoad = e => {
      console.log('Loading messages.')
      window.conn = conn
      window.app = new App(window, socket, model)
      const store = conn.db.transaction(STORES.messages).objectStore(STORES.messages)
      store.openCursor(null).onsuccess = e => {
        const cursor = e.target.result
        if(!cursor) return
        const message = new Message(cursor.value.text, window.member, cursor.value.id, cursor.value.occurred)
        model.messages.push(message)
        cursor.continue()
      }
    }

    let waiter = setInterval(()=>{
      if(!(conn.isConnected && isLoaded)) return
      clearInterval(waiter)
      onLoad()
    }, 60)

    const onUnload = e => {
      conn.close()
    }

    window.addEventListener('load', e=>isLoaded=true, true)
    window.addEventListener('unload', onUnload, true)

  </script>
</html>